img {
  height: 50px;
}
.header__logo {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.header__logo a,
.header__menu a,
.header__right a {
  text-decoration: none;
  color: white;
  text-decoration: none;
}
.header__menu a:hover {
  opacity: 0.5;
  cursor: pointer;
}
.primary {
  background-color: #e53637;
  padding: 7px;
  color: white;
  font-weight: 500;
}
button {
  background-color: #e53637;
  padding: 7px;
  color: white;
  font-weight: 500;
  border: none;
}
