<!-- Header Section Begin -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-1">
        <div class="header__logo">
          <span>Movie<span style="color: #e53637">Flix</span> </span>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="header__nav">
          <nav class="header__menu mobile-menu">
            <ul>
              <li><a routerLink="/movies/home">Homepage</a></li>
              <li><a routerLink="/movies/latest">Latest</a></li>
              <li><a routerLink="/movies/recommend">Recommended</a></li>
              <li><a routerLink="/movies/favoritelist">Favoritelist</a></li>
              <li><a routerLink="/movies/watchlist">Watchlist</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="header_right">
          <ul>
            <li><app-search
              (searchTextChanged)="onSearchTextEntered($event)"
            ></app-search></li>
            <li><ngx-avatars routerLink="/profile" name="{{user['username']}}" size="50"></ngx-avatars>
            </li>
          </ul>
        </div>
    </div>
    </div>
    <!-- <div id="mobile-menu-wrap"></div> -->
  </div>
</header>
<!-- Header End -->
