<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
      <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="footer__logo">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="footer__nav">
            <ul>
              <li><a routerLink="/movies">Homepage</a></li>
              <li><a routerLink="/movies/recommend">Recommended</a></li>
              <li><a routerLink="/movies/favoritelist">Favoritelist</a></li>
              <li><a routerLink="/movies/watchlist">Watchlist</a></li>
              <li><a routerLink="/movies/latest">Latest</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Section End -->