<div class="search_class">
  <input
    [(ngModel)]="searchValues"
    (keyup)="onSearch()"
    class="search-switch"
    type="search"
    placeholder="Search"
    aria-label="Search"
    style="border-radius: 0; height: 38px; width:200px; border: none"
  />
  <span
    class="btn btn-success"
    type="submit"
    style="
      background-color: #e53637;
      border: 1px solid #e53637;
      border-radius: 0;
      margin-bottom: 5px;
      margin-right: 30px;
      width: 68px;
    "
    >Search</span
  >
</div>
