<app-header [name]="data" (changeName)="onNameChange($event)"></app-header>
<div>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <h1 style="color: white;">{{data}}</h1>
    <ng-container #container></ng-container>
</div>
<app-footer></app-footer>   