.container {
  margin-left: -10px;
}
.limitTextHeight {
  height: 20px;
  overflow: hidden;
}
video:hover {
  opacity: 0.8;
  transform: scale(1.1);
  cursor: pointer;
}
img:hover {
  opacity: 0.8;
  transform: scale(1.1);
  cursor: pointer;
}
button {
  width: 170px;
}
