li a,
a{
    text-decoration: none;
    line-height: 70px;
    color: #e53637;
    font-weight: 700;    
}
li a:hover{
    color: #832525;
}
.header__logo{
    font-size: 30px;
    margin-left: 20px;
    font-weight: 700;
}
button{
    font-weight: 500;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}