<div id="preloder" *ngIf="loader">
  <div class="loader"></div>
</div>
<ng-container>
  <div class="progress form-group mt-3" *ngIf="progress > 0"  style="width: 900px;">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
  </div>
</div>  
</ng-container>
<section class="login spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login__form">
          <h3 *ngIf="!isEdit">Upload Genre</h3>
          <h3 *ngIf="isEdit">Edit Genre</h3>
          <form [formGroup]="uploadForm"  novalidate>
            <div class="genre-title">
              <input
                type="text"
                placeholder=" Genre type"
                name="genre"
                formControlName="genre"
                required
              />
              <div *ngIf="genre && (genre.valid || genre.touched)">
                <small *ngIf="genre.errors?.['required']" class="text-danger"
                  >Genre is required</small
                >
                <!-- <small *ngIf="genre.errors?.['email']" class="text-danger">Email is invalid</small> -->
              </div>
            </div>
            <div
              class="file-input my-4 p-2"
              style="
                background-color: white;
                width: 370px;
                font-size: medium;
                color: black;
                height: 50px;
              ">
              <input
                type="file"
                name="file"
                formControlName="file"
                accept="image/*"
                (change)="onFileSelected($event)"
                required
              />
              <div *ngIf="file && (file.valid || file.touched)">
                <small *ngIf="file.errors?.['required']" class="text-danger"
                  >genre file is required</small
                >
                <small *ngIf="file.errors?.['accept']" class="text-danger"
                  >It should image file</small
                >
              </div>
            </div>
            <button
              *ngIf="!isEdit"
              type="submit"
              class="site-btn"
              [disabled]="!uploadForm.valid"
              (click)="onUpload()"
            >
              Upload Genre
            </button>
            <button
              *ngIf="isEdit"
              type="submit"
              class="site-btn"
              [disabled]="!uploadForm.valid"
              (click)="onUpload()"
            >
              Edit Genre
            </button>
          </form>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login__register">
          <h3>Preview</h3>
          <ng-container *ngIf="!isEdit">
            <!-- <img src="{{genreDetail['genreurl']}}" alt="" style="width:200px; height:200px"> -->
          </ng-container>
          <ng-container *ngIf="isEdit && genreDetail">
            <img src="{{genreDetail['genreurl']}}" alt="" style="width:200px; height:200px">
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
