<div *ngIf="loader" id="preloder">
  <div class="loader"></div>
</div>
<section class="login spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login__form">
          <h3 *ngIf="!isEdit">Upload Genre</h3>
          <h3 *ngIf="isEdit">Edit Genre</h3>
          <form [formGroup]="uploadForm" novalidate>
            <div class="genre-title">
              <input
                type="text"
                placeholder=" Genre type"
                name="genre"
                formControlName="genre"
                pattern="[A-Za-z\s]+[a-z]"
                required
              />
              <div *ngIf="genre && (genre.valid || genre.touched)">
                <small *ngIf="genre.errors?.['required']" class="text-danger"
                  >Genre is required</small
                >
                <small *ngIf="genre.errors?.['pattern']" class="text-danger"
                  >Genre is invalid</small
                >
                <small *ngIf="genre.errors?.['minlength']" class="text-danger"
                  >Genre is minimun 4 characters</small
                >
                <small *ngIf="genre.errors?.['maxlength']" class="text-danger"
                  >Genre is maximum 20 characters</small
                >
              </div>
            </div>
            <div
              class="file-input my-4 p-2"
              style="
                background-color: white;
                width: 370px;
                font-size: medium;
                color: black;
                height: 50px;
              "
            >
              <input
                type="file"
                name="file"
                formControlName="file"
                accept="image/*"
                (change)="onFileSelected($event)"
                required
              />
              <div *ngIf="file && (file.valid || file.touched)">
                <small *ngIf="file.errors?.['required']" class="text-danger"
                  >Genre file is required</small
                >
                <small *ngIf="file.errors?.['accept']" class="text-danger"
                  >It should image file</small
                >
              </div>
            </div>
            <button
              *ngIf="!isEdit"
              type="submit"
              class="site-btn"
              [disabled]="!uploadForm.valid"
              (click)="onUpload()"
            >
              Upload Genre
            </button>
            <button
              *ngIf="isEdit"
              type="submit"
              class="site-btn"
              [disabled]="!uploadForm.valid"
              (click)="onEdit(genreDetail['_id'])"
            >
              Edit Genre
            </button>
          </form>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login__register">
          <h3>Preview</h3>
          <ng-container *ngIf="inProgress">
            <div class="progress">
              <div
                class="progress-bar progress-bar-info progress-bar-striped"
                role="progressbar"
                attr.aria-valuenow="{{ progress }}"
                aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{ width: progress + '%' }"
              >
                {{ progress }}%
              </div>
            </div>
          </ng-container>
          <!-- Shows when upload genre -->
          <ng-container
            *ngIf="(imgURL && !isEdit) || (inProgress && !isSelectedInEditMode)"
          >
            <img
              src="{{ imgURL }}"
              alt=""
              style="width: 100px; height: 100px; margin-top: 30px"
            />
          </ng-container>

          <!-- Shows when no any file is selected -->
          <ng-container *ngIf="!imgURL && !isEdit">
            <h6
              style="
                width: 100px;
                height: 100px;
                margin-top: 30px;
                color: white;
              "
            >
              No image selected
            </h6>
          </ng-container>

          <!-- Shows when in edit mode and genreDetails is not an empty  -->
          <ng-container
            *ngIf="
              isEdit &&
              genreDetail &&
              !imgURL &&
              !inProgress &&
              !isSelectedInEditMode
            "
          >
            <img
              src="{{ genreDetail['genreurl'] }}"
              alt=""
              style="width: 100px; height: 100px; margin-top: 30px"
            />
          </ng-container>

          <!--  -->
          <ng-container
            *ngIf="(isEdit && imgURL) || (inProgress && isSelectedInEditMode)"
          >
            <img
              src="{{ imgURL }}"
              alt=""
              style="width: 100px; height: 100px; margin-top: 30px"
            />
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
